<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <title>Web Socket Example</title>
        <meta charset="UTF-8">
  </head>

    <body>
        <img id="screen" src="{{MEDIA_URL}}test.png?r=123" style="width:auto;height:500px"/>

        <script src="{{STATIC_URL}}jquery/js/jquery.js" type="text/javascript"></script>
        <script>
          var myws = new WebSocket("ws://localhost:9876/");
          window.onload = function() {
            myws.onopen = function(e) { alert("opened"); }
            myws.onclose = function(e) { alert("closed"); }
            myws.onmessage = function(e) { alert("got: " + e.data); }
          };
        </script>
    </body>
</html>
